<div class="row-fluid">
	
	<div class="span6 offset3 text-center shadowed-box">

		<h1 class="custom-splash-font">Hi, I'm Michael.</h1>

		<h2 class="">I'm having a blast learning how to code.</h2>
		
		<%= link_to 'Launch!', '#', :class => 'btn btn-large btn-success' %>

	</div>
</div>