<% @pics.each do |pic| %>
	<div class="span4 text-center shadowed-box-entries">
		<h1 class="custom-splash-font">
			Hour: <%= pic.hour %>
		</h1>

		<%= image_tag pic.image %>

		<h2>
			<br />
			Emotion: <%= pic.emotion %>
			<br />
			<br />
			Learned: <%= pic.learned %>
		</h2>
	</div>
<% end %>