<% @pics.each do |pic| %>
	<div class="span4 shadowed-box">
		<h1 class="custom-splash-font">
			Hour: <%= pic.hour %>
		</h1>
		<h2>
			<br />
			Emotion: <%= pic.emotion %>
			<br />
			<br />
			Learned: <%= pic.learned %>
		</h2>
	</div>
<% end %>