@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500);

/* This site was hacked together by Michael with lots of love. */

.shadowed-box {
    box-shadow: 0 0 5px rgba(36, 32, 33, 0.8);
    background-color: rgba(36, 32, 33, 0.6);
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 40px;
}

body {
	background: url('bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.custom-splash-font {
	color: white;
	font-family: 'Alegreya Sans', serif;
    font-weight: 100;
    font-size: 64px;
    line-height: 60px;
}

h2 {
	color: white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	font-weight: 200;
	font-size: 34px;
}

label {
	color: white;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, sans-serif;
	ont-weight: 200;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
}